html{
	overflow-x:hidden;
}
.page-contents{
	height:auto;
	margin:0;
	padding:0;
}
nav ul.desktop-navigation li.active,nav ul.desktop-navigation li:hover{
	background:rgba(0,0,0,0);
}
nav ul.desktop-navigation li.active a {
	border-bottom:3px solid #fff;
	padding:16px 15px 7px 15px;
	line-height:32px;
	margin-bottom: 6px;
}
/*nav ul.desktop-navigation li:hover a {
	border-bottom:3px solid rgba(255,255,255,0.5);
	padding:16px 20px 7px 20px;
	line-height:32px;
	margin-bottom: 6px;
}*/
nav ul.desktop-navigation li a {
	padding:16px 15px 7px 15px;
	line-height:32px;
	margin-bottom: 6px;
}
nav a img{
	max-height:64px;
	padding:12px;
}
.top-div .valign-wrapper{
	min-height:350px;
	height:100vh;
}
.top-div h1{
	padding:50px 0 50px 0;
	margin:0;
	list-style-type:circle;
}
.top-div ul{
	padding-top:60px;
	margin-left: 0;
    padding-left: 3em;
    list-style-position: outside;
	font-size:16px;
}
.top-div li:before {
	content: "\2605";
}
.top-div li{
	display: inline;
	padding:40px 10px 40px 10px;
}
.top-div .download-btn:hover{
	background:rgba(255,255,255,0.1);
}
.valign{
	width:100%;
}
.features-div{
	padding:40px 0;
}
.features-div .row{
	padding:30px 0;
}
.features-div img{
	padding:30% 18%;
	height:auto;
}
.fade-ins{
	opacity:0;
}
.mce_inline_error{
	background-color: transparent !important;
}
.nxt-div{
	padding:75px 0;
	margin:-20px;
}
.wallet-div{
	padding:25px 0;
}

#loader{
	height:100vh;
	position:fixed;
	background:white;
	z-index:1001;
	width:100%;
}
#loader .valign-wrapper{
	height:100%;
}
#loader img.spinning{
	height:100px;
	width:auto;
	margin:auto;
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale(0.1);
	}
	50% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.5);
	}
}
@keyframes pulsate {
	0% {
		transform: scale(0.1);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.5);
	}
}
@-moz-keyframes pulsate {
	0% {
		-moz-transform: scale(0.1);
	}
	50% {
		-moz-transform: scale(1);
	}
	100% {
		-moz-transform: scale(0.5);
	}
}

.spinning{
	-webkit-animation: pulsate 2s infinite linear;
	-moz-animation: pulsate 2s infinite linear;
	-ms-animation: pulsate 2s infinite linear;

	animation: pulsate 2s infinite linear;
}


/* Docs menu */
#docs-page{
	padding-left: 240px;
}
#docs-content{
	padding:0 5px;
}
@media only screen and (max-width : 992px) {
	#docs-page{
		padding-left: 0px;
	}
}
#docs-menu{
	/*padding-top:60px*/
}
a.site-title{
	font-size:24px;
	padding-left:6px;
}
.side-nav.fixed a.sidebar-dropdown-title{
	padding:15px;
	margin:0;
}