---
layout: default
---
<div class="container">

  <div class="card-panel white primary-text text-darken-2">
	  <header class="post-header">
		  <h3 class="post-title thin accent-text">{{ page.title }}</h3>
		  <i class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</i>
	  </header>
	  
	  <div class="divider"></div>

	  <article class="post-content">
		  {{ content }}
	  </article>
	</div>

</div>
